<div class="pricing-table-wrap" aria-describedby="pricing-note">
  <table class="pricing-table" role="table">
    <caption>Comparatif des offres CLICOM</caption>
    <thead>
      <tr>
        <th scope="col">Fonctionnalités</th>
        <th scope="col">Pack Lancement <span class="sub price-value" data-price-unique="2’500 CHF" data-price-monthly="350 CHF / mois">2’500 CHF</span></th>
        <th scope="col">Pack Croissance <span class="sub price-value" data-price-unique="5’000 CHF" data-price-monthly="620 CHF / mois">5’000 CHF</span></th>
      </tr>
    </thead>
    <tbody>
      <tr><th scope="row">Site vitrine</th><td>✔</td><td>✔</td></tr>
      <tr><th scope="row">Support</th><td>✔</td><td>✔</td></tr>
    </tbody>
  </table>
</div>
